@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
    font-weight: 300;
    letter-spacing: -0.01em;
}

a {
  color:#aa1122;
}

a:hover{
  color:#881122;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav a.ng-binding {
    font-weight: 700;
    color: #111 !important;
    padding: 15px 0 !important;
    margin-right: 16px
}

h3, .h3 {
    font-size: 21px;
}

.chart-container *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Generic styling */

.chart-container a:focus{
  outline: 2px dashed #f7f7f7;
}

.chart-container ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.chart-container ul a{
  display: block;
  background: #ccc;
  border: 4px solid #fff;
  text-align: center;
  overflow: hidden;
  font-size: .7em;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  height: 70px;
  margin-bottom: -26px;
  box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  transition: all linear .1s;
}


@media all and (max-width: 767px){
  .chart-container ul a{
    font-size: 1em;
  }
}


.chart-container ul a span{
  top: 50%;
  margin-top: -0.7em;
  display: block;
}

/*

 */

.administration > li > a{
  margin-bottom: 25px;
}

.director > li > a{
  width: 50%;
  margin: 0 auto 0px auto;
}

.subdirector:after{
  content: "";
  display: block;
  width: 0;
  height: 130px;
  background: red;
  border-left: 4px solid #fff;
  left: 45.45%;
  position: relative;
}

.subdirector,
.departments{
  position: absolute;
  width: 100%;
}

.subdirector > li:first-child,
.departments > li:first-child{
  width: 18.59894921190893%;
  height: 64px;
  margin: 0 auto 92px auto;
  padding-top: 25px;
  border-bottom: 4px solid white;
  z-index: 1;
}

.subdirector > li:first-child{
  float: right;
  right: 27.2%;
  border-left: 4px solid white;
}

.departments > li:first-child{
  float: left;
  left: 27.2%;
  border-right: 4px solid white;
}

.subdirector > li:first-child a,
.departments > li:first-child a{
  width: 100%;
}

.subdirector > li:first-child a{
  left: 25px;
}

@media all and (max-width: 767px){
  .subdirector > li:first-child,
  .departments > li:first-child{
    width: 40%;
  }

  .subdirector > li:first-child{
    right: 10%;
    margin-right: 2px;
  }

  .subdirector:after{
    left: 49.8%;
  }

  .departments > li:first-child{
    left: 10%;
    margin-left: 2px;
  }
}


.departments > li:first-child a{
  right: 25px;
}

.department:first-child,
.departments li:nth-child(2){
  margin-left: 0;
  clear: left;
}

.departments:after{
  content: "";
  display: block;
  position: absolute;
  width: 81.1%;
  height: 22px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
  margin: 0 auto;
  top: 130px;
  left: 9.1%
}

@media all and (max-width: 767px){
  .departments:after{
    border-right: none;
    left: 0;
    width: 49.8%;
  }
}

@media all and (min-width: 768px){
  .department:first-child:before,
   .department:last-child:before{
    border:none;
  }
}

.department:before{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 22px;
  border-left: 4px solid white;
  z-index: 1;
  top: -22px;
  left: 50%;
  margin-left: -4px;
}

.department{
  border-left: 4px solid #fff;
  width: 18.59894921190893%;
  float: left;
  margin-left: 1.751313485113835%;
  margin-bottom: 60px;
}

.lt-ie8 .department{
  width: 18.25%;
}

@media all and (max-width: 767px){
  .department{
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .department:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 60px;
    border-left: 4px solid white;
    z-index: 1;
    top: -60px;
    left: 0%;
    margin-left: -4px;
  }

  .department:nth-child(2):before{
    display: none;
  }
}

.department > a{
  margin: 0 0 -26px -4px;
  z-index: 1;
}

.department > a:hover{
  height: 80px;
}

.department > ul{
  margin-top: 0px;
  margin-bottom: 0px;
}

.department li{
  padding-left: 25px;
  border-bottom: 4px solid #fff;
  height: 80px;
}

.department li a{
  background: #fff;
  top: 48px;
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 60px;
  vertical-align: middle;
  right: -1px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%) !important;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0)))!important;
  background-image: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
  background-image: -o-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
  background-image: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
  background-image: linear-gradient(135deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 );
}

.department li a:hover{
  box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.1);
  height: 80px;
  width: 95%;
  top: 39px;
  background-image: none!important;
}

/* Department/ section colors */
.department.dep-a a{ background: #FFD600; }
.department.dep-b a{ background: #AAD4E7; }
.department.dep-c a{ background: #FDB0FD; }
.department.dep-d a{ background: #A3A2A2; }
.department.dep-e a{ background: #f0f0f0; }



/*CARD*/


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 25px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  min-height: 316px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(26,53,71,.08), 0 0 0 1px rgba(0,0,0,.08), 0 1px 1px rgba(26,53,71,.06);
  background: -moz-linear-gradient(top, #881122 0%, #fff 30%);
  background: -webkit-linear-gradient(top, #881122 0%, #fff 30%);
  background: linear-gradient(to bottom, #881122 0%, #bc7983 13%, #ebd7da 24%, #f9f4f4 27%, #fff 30%);
}

.card.hovercard:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.1);
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card.hovercard .avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px rgba(0,0,0,.2), 0 1px 3px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px rgba(0,0,0,.2), 0 1px 3px 3px rgba(0,0,0,.1);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px rgba(0,0,0,.2), 0 1px 3px 3px rgba(0,0,0,.1);
}

.card.hovercard .info {
    padding: 0 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .title h3 {
  margin:0;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    color: #737373;
    text-overflow: ellipsis;
    min-height: 40px;
}

.card.hovercard .info .desc.ng-scope { text-transform: uppercase; font-size:11px; }
.card.hovercard .info .desc strong {
  text-transform:initial;
  display:block;
  font-size:12px;
  color:#444;
  letter-spacing: -0.025em;
}

.btn.btn-primary { background-color: #444; border: none; }
.btn.btn-primary:hover {
  background-color: #333;
}
.btn.btn-warning { background-color: #aa1122; border: none; }
.btn.btn-warning:hover {
  background-color: #771122;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.navbar-logo img {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 480px) {
    .col-centered{
         width: 95%;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .col-centered{
         width: 50%;
    }

}

#gabinete {
    color: black;
    padding-bottom: 15px;
    pointer-events: none;
    cursor: default;
}

/* Loader */
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #000000, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #000000, 0 -0.83em 0 -0.477em #000000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #000000, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #000000, 0 -0.83em 0 -0.477em #000000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.087em -0.825em 0 -0.42em #000000, -0.173em -0.812em 0 -0.44em #000000, -0.256em -0.789em 0 -0.46em #000000, -0.297em -0.775em 0 -0.477em #000000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.338em -0.758em 0 -0.42em #000000, -0.555em -0.617em 0 -0.44em #000000, -0.671em -0.488em 0 -0.46em #000000, -0.749em -0.34em 0 -0.477em #000000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.377em -0.74em 0 -0.42em #000000, -0.645em -0.522em 0 -0.44em #000000, -0.775em -0.297em 0 -0.46em #000000, -0.82em -0.09em 0 -0.477em #000000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #000000, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #000000, 0 -0.83em 0 -0.477em #000000;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #000000, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #000000, 0 -0.83em 0 -0.477em #000000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #000000, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #000000, 0 -0.83em 0 -0.477em #000000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.087em -0.825em 0 -0.42em #000000, -0.173em -0.812em 0 -0.44em #000000, -0.256em -0.789em 0 -0.46em #000000, -0.297em -0.775em 0 -0.477em #000000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.338em -0.758em 0 -0.42em #000000, -0.555em -0.617em 0 -0.44em #000000, -0.671em -0.488em 0 -0.46em #000000, -0.749em -0.34em 0 -0.477em #000000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000000, -0.377em -0.74em 0 -0.42em #000000, -0.645em -0.522em 0 -0.44em #000000, -0.775em -0.297em 0 -0.46em #000000, -0.82em -0.09em 0 -0.477em #000000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000000, 0 -0.83em 0 -0.42em #000000, 0 -0.83em 0 -0.44em #000000, 0 -0.83em 0 -0.46em #000000, 0 -0.83em 0 -0.477em #000000;
  }
}